{% extends 'base.html' %}

{% block head %}

    <title>Name</title>
{% endblock %}

{% block index %}
<h2>{{ prompt }}</h2>
<br>
<form action="" method="post">  
  <label for="input-box-prename">{{ prename }}</label>
  <input type="text" id="input-box-prename" name="prename" required> 
  <label for="input-box-surname">{{ surname }}</label>
  <input type="text" id="input-box-surname" name="surname" required>
  <label for="input-box-institution">Institution:</label>
  <input type="text" id="input-box-institution" name="institution" required>
  <button type="submit">{{ button }}</button>
</form>

{% endblock %}